.button {
  display: block;
  box-sizing: border-box;
  min-width: 260px;
  max-width: 292px;
  min-height: 52px;
  text-align: center;

  border: 2px solid var(--second_color);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 14px;
  padding-top: 14px;

  color: var(--second_color);
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

}