.product {
  margin-top: 30px;
  @media (--middle-viewport) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

picture {
  display: block;
}

.product-container {
  border: 1px solid var(--shadow-color);
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 28px;
  @media (--middle-viewport) {
    flex: 1 0 334px;
  }
}

.product-link {
  display: block;
  @media (--middle-viewport) {
    flex: 1 0 334px;
  }
}

.product-image {
  display: block;
  height: 100%;
  width: 100%;
}

.product-title {
  margin-top: 32px;
}

.product-description {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 17px;
  margin-bottom: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid var(--shadow-color);
}

.product-order {
  display: flex;
  justify-content: space-between;
}

.order-link {
  display: inline-block;
  margin-top: 27px;
  margin-bottom: 30px;
}

.order-price {
  display: inline-block;
  margin-top: 27px;
  margin-bottom: 30px;
}

.order-icon {
  fill: var(--placeholder_color);
}