.catalog {
  @media (--middle-viewport) {
    margin-top: 67px;
  }
  @media (--big-viewport) {
    margin-top: 111px;
  }
}

.product {
  margin-top: 30px;
  @media (--middle-viewport) {
    display: flex;
    margin-top: 54px;
    flex-direction: row;
    justify-content: center;
  }
}

picture {
  display: block;
}

.product-container {
  border: 1px solid var(--shadow-color);
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 28px;
  @media (--middle-viewport) {
    flex: 1 0 334px;
    display: flex;
    flex-direction: column;
  }
}

.product-link {
  display: block;
  @media (--middle-viewport) {
    flex: 1 0 334px;
  }
}

.product-link_title {
  text-decoration: none;
  color: black;
}

.product-image {
  display: block;
  height: 100%;
  width: 100%;
}

.product-title {
  margin-top: 32px;
  margin-bottom: 10px;
  @media (--middle-viewport) {
    margin-bottom: 5px;
  }
}

.product-description {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 22px;
  @media (--middle-viewport) {
    margin-bottom: auto;
  }
}

.product-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--shadow-color);
  min-height: 73px;
}

.order-icon {
  fill: var(--placeholder_color);
}