.contact {
  padding-top: 22px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @media (--big-viewport) {
    padding-top: 0;
    margin-top: 71px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 105px;
    max-width: 1440px;
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.contact-container {
  padding: 0 30px;
  box-sizing: border-box;
  @media (--big-viewport) {
    float: left;
    width: 50%;
    padding-left: 175px;
  }
}

.contact-title {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  border-collapse: collapse;
  position: relative;
  @mixin visually-title;
  &::after{
    @media (--middle-viewport) {
      background: url("../../assets/img/icon-flag.svg") center center no-repeat;
      content: "";
      position: absolute;
      top: -20px;
      right: 0;
      width: 47px;
      height: 81px;
    }
    @media (--big-viewport) {
      right: initial;
      left: -111px;
    }
  }
  @media (--big-viewport) {
    margin-top: 81px;
  }
}

.contact-table {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
}

.contact-table tbody {
  @media (--middle-viewport) {
    display: flex;
    flex-direction: row;
  };
  @media (--big-viewport) {
    display: table;
  }
}

.contact-column {
  @media (--middle-viewport) {
    flex: 1 0 334px;
  };
  &:first-child .contact-cell {
    padding-bottom: 20px;
  }
}
.contact-cell {
  vertical-align: top;
  &:nth-child(odd) {
    padding-right: 20px;
  }
}

.contact-mail {
  text-decoration: none;
  color: var(--second_color);
}

.contact-communications_container {
  padding: 0 30px;
  box-sizing: border-box;
  @media (--big-viewport) {
    padding: 0;
    position: absolute;
    bottom: 0px;
    left: 275px;
  }
}

.contact-communications {
  margin-top: 39px;
  margin-bottom: 39px;
  @media (--middle-viewport) {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  @media (--big-viewport) {
    margin: 0;
    min-width: 230px;
  }
}