.contact {
  padding-top: 22px;
}

.contact-title {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  border-collapse: collapse;
  @mixin visually-title;
}

.contact-table {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.contact-column:first-child .contact-cell{
  padding-bottom: 20px;
}

.contact-cell {
  vertical-align: top;
  &:nth-child(odd) {
    padding-right: 20px;
    width: 100%;
  }
}

.contact-mail {
  text-decoration: none;
  color: var(--second_color);
}