.map {
  position: relative;
  @mixin wrapper-main;
  margin-top: 42px;
}
.map-image {
  width: 100%;
  height: auto;
}
.map:after {
  position: absolute;
  top: 25%;
  right: 31.5%;

  width: 21%;
  height: 28%;

  background: url("../../assets/img/icon-map-pin.svg") center center no-repeat;
  background-size: 100% auto;
  content: "";
}