.map {
  position: relative;
  margin-top: 42px;
  max-width: 425px;
  margin-left:  auto;
  margin-right:  auto;
  @media (--middle-viewport) {
    max-width: none;
  }
  @media (--big-viewport) {
    float: right;
    width: 50%;
    margin: 0;
  }
}
.map-image {
  width: 100%;
  height: auto;
}
.map::after {
  position: absolute;
  top: 25%;
  right: 31.5%;
  width: 21%;
  height: 28%;
  background: url("../../assets/img/icon-map-pin.svg") center center no-repeat;
  background-size: 100% auto;
  content: "";
  @media (--middle-viewport) {
    top: 25%;
    right: 42.5%;
    width: 8.5%;
    height: 22%;
  }
  @media (--big-viewport) {
    top: 25%;
    right: 38.5%;
    width: 13.5%;
    height: 24%;
  }
}