@define-mixin wrapper-main {
  min-width: 320px;
  max-width: 425px;
  margin: 0 auto;
  width: 100%;
  @media (--middle-viewport) {
    min-width: 668px;
    max-width: none;
  }
  @media (--big-viewport) {
    min-width: 1050px;
    max-width: none;
  }
}

@define-mixin wrapper {
  min-width: 260px;
  max-width: 365px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @media (--middle-viewport) {
    min-width: 668px;
    max-width: none;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (--big-viewport) {
    min-width: 1050px;
    max-width: none;
  }
}

@define-mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

@define-mixin visually-title {
  @media (--middle-viewport) {
    font-size: 43px;
    line-height: 50px;
  }
  @media (--big-viewport) {
    font-size: 53px;
  }
}