@define-mixin wrapper-main {
  min-width: 320px;
  max-width: 425px;
  margin: 0 auto;
  @media (--middle-viewport) {
    min-width: 668px;
    padding: 0 50px;
  }
  @media (--big-viewport) {
    min-width: 1050px;
    padding: 0 50px;
  }
}

@define-mixin wrapper {
  min-width: 260px;
  max-width: 365px;
  margin: 0 auto;
  padding: 0 30px;

  @media (--middle-viewport) {
    min-width: 668px;
    padding: 0 50px;
  }
  @media (--big-viewport) {
    min-width: 1050px;
    padding: 0 50px;
  }
}

@define-mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}