.page-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 320px;
  @media (--middle-viewport) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 50px;
    padding-left: 50px;
    box-shadow: 0 1px 0 var(--shadow-color), inset 0 1px 0 var(--shadow-color);
  }
  @media (--big-viewport) {
    padding: 0;
    margin-right: 50px;
    margin-left: 50px;
  }
}

.page-nav_closed .nav-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: hsl(0, 5%, 13%);
  box-shadow: 0 11px 0 0 hsl(0, 5%, 13%),0 22px 0 0 hsl(0, 5%, 13%);
}

.page-nav_opened .nav-toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: hsl(0, 5%, 13%);
  }
  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.nav-logo {
  min-height: 79px;
  box-sizing: border-box;
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 0 var(--shadow-color), inset 0 1px 0 var(--shadow-color);
  @media (--middle-viewport) {
    flex-grow: 2;
    justify-content: flex-start;
    padding-top: 21px;
    padding-bottom: 21px;
    min-height: 88px;
    box-shadow: 0 1px 0 var(--shadow-color);
  }
  @media (--big-viewport) {
    padding-left: 0;
    text-align: center;
    align-self: center;
    position: absolute;
    box-shadow: none;
  }
}

.cart {
  flex-grow: 1;
}

.nav-toggle {
  position: absolute;
  display: block;
  top: 28px;
  right: 25px;
  width: 30px;
  height: 24px;
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  @media (--middle-viewport) {
    display: none;
  }
}

.nav-list ,.user-list {
  @mixin list-reset;
  @media (--middle-viewport) {
    display: flex;
  }
}

.nav-list {
  @media (--middle-viewport) {
    position: absolute;
    bottom: -100%;
    left: 50px;
  }
  @media (--big-viewport) {
    position: static;
    order: -1;
    flex: 2 0 400px;
    margin-right: 250px;
  }
}

.nav-item{
  @media (--big-viewport){
    flex: 1 0 200px;
    &:nth-child(2){
      border-right: 1px solid var(--shadow-color);
    }
  }
}

.nav-link {
  @media (--middle-viewport) {
    box-shadow: none;
    margin-right: 38px;
  }
  @media (--big-viewport) {
    margin-right: 0;
  }
}

.nav-link, .user-link{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  min-height: 79px;
  box-shadow: 0 1px 0 var(--shadow-color), inset 0 1px 0 var(--shadow-color);
  padding-left: 24%;
  text-transform: none;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  padding-top: 27px;
  padding-bottom: 26px;
  @media (--middle-viewport) {
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    align-items: center;
    box-shadow: none;
    box-shadow: 0 1px 0 var(--shadow-color);
  }
  @media (--middle-viewport) {
    min-height: 88px;
  }
}

.user-list {
  @media (--middle-viewport) {
    flex-grow: 1;
  }
  @media (--big-viewport) {
    flex-grow: 1.5;
  }
}

.user-link {
  position: relative;
}

.user-icon_cart, .user-icon_search {
  position: absolute;
  left: 12%;
  top: 35%;
  fill: var(--nav-icon_color);
  @media (--middle-viewport) {
    position: static;
    display: inline-block;
    vertical-align: middle;
  }
}

.free-delivery {
  display: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  @media (--middle-viewport){
    display: block;
    position: absolute;
    right: 50px;
    bottom: -66%;
  }
  @media (--big-viewport) {
    right: 100px;
  }
}

@media (--mobileOnly-viewport) {
  .page-nav_closed .nav-list {
    display: none;
  }
  .page-nav_nojs .nav-list {
    display: block;
  }
  .page-nav_nojs .nav-toggle {
    display: none;
  }
}

@media (--middle-viewport) {
  .search {
    border-left: 1px solid var(--shadow-color);
    border-right: 1px solid var(--shadow-color);
  }
  .user-search {
    display: none;
  }
  .user-icon_search {
    padding: 0 35px;
  }
}