.page-nav {
  display: flex;
  flex-direction: column;

  position: relative;

  min-width: 320px;
}

.nav-logo {
  min-height: 79px;
  box-sizing: border-box;

  padding-top: 22px;
  text-align: center;

  box-shadow: 0 1px 0 var(--shadow-color), inset 0 1px 0 var(--shadow-color);
}

.nav-toggle {
  display: none;
}

.nav-list {
  display: none;
  flex-direction: column;

@mixin list-reset;
}

.nav-item a, .user-item a{
  display: block;
  box-sizing: border-box;

  height: 79px;
  box-shadow: 0 1px 0 var(--shadow-color), inset 0 1px 0 var(--shadow-color);

  padding-left: 76px;
  padding-top: 26px;

  text-transform: none;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}