.orientation-item {
  height: 103px;
  padding-left: 29px;
  padding-top: 30px;

  box-sizing: border-box;

  color: #ffffff;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  @mixin wrapper-main;
  @media (--mobileM-viewport) {
    padding-top: 40px;
  }
}

.orientation-item:nth-child(odd) {
  background: var(--bg_main_color);
}

.orientation-item:nth-child(even) {
  background: var(--bg_second_color);
}

.orientation-item span{
  display: block;
  width: 80px;
  @media (--mobileM-viewport) {
    width: auto;
    font-size: 24px;
  }
}

