.orientation-item {
  height: 103px;
  padding-left: 29px;
  padding-top: 30px;

  box-sizing: border-box;

  color: #ffffff;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.orientation-item:nth-child(odd) {
  background: #63d1bb;
}

.orientation-item:nth-child(even) {
  background: #56c3b2;
}