.popular {
  position: relative;
  padding-top: 28px;
  padding-bottom: 40px;
  background: url("../../assets/img/bg-zigzag-line.svg") left bottom repeat-x;
  background-size: auto 1%;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  @media (--middle-viewport) {
    background-size: auto 2.5%;
    padding-bottom: 52px;
  }
  @media (--big-viewport) {
    background-size: auto 23px;
    padding-top: 54px;
    padding-bottom: 96px;
  }
}

b{
  display: inline-block;
}

.popular-name {
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 0;
  @mixin visually-title;
  @media (--middle-viewport) {
    font-size: 43px;
    line-height: 50px;
    width: 50%;
  }
  @media (--big-viewport) {
    position: absolute;
    top: 117px;
    left: 275px;
  }
}

.popular-marketing {
  text-transform: uppercase;
  color: var(--main_color);
  padding-top: 5px;
  vertical-align: bottom;
  @media (--middle-viewport) {
    float: right;
    padding: 0;
  }
  @media (--big-viewport) {
    position: absolute;
    top: 117px;
    left: 130px;
  }
}

.popular-marketing_br {
  display: none;
  margin-top: 30px;
  @media (--middle-viewport) {
    display: block;
  }
}

.popular-description_container {
  box-sizing: border-box;
  @media (--middle-viewport) {
    width: 50%;
    float: left;
    padding-right: 44px;
  }
  @media (--big-viewport) {
    padding-left: 175px;
    padding-top: 166px;
  }
}

.popular-price_container {
  @media (--middle-viewport) {
    position: absolute;
    bottom: 52px;
    left: 50px;
    min-width: 290px;
  }
  @media (--big-viewport) {
    left: 275px;
    bottom: 96px;
  }
}

.popular-description {
  color: var(--second_color);
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 14px;
  @media (--big-viewport) {
    margin-top: 0;
    margin-bottom: 57px;
  }
}

.popular-table {
  width: 100%;
  color: var(--second_color);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  border-collapse: collapse;
}

.popular-column {
  border-bottom: 1px solid #ececec;
}
.popular-cell:nth-child(even){
  width: 162px;
}

.popular-cell {
  padding: 10px 0;
}

.popular-image {
  padding-top: 26px;
  width: 100%;
  height: auto;
  @media (--middle-viewport) {
    float: right;
    width: 50%;
    padding-top: 20px;
  }
  @media (--big-viewport) {
    padding-top: 0;
  }
}

.popular-price {
  display: block;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.popular-order {
  margin-top: 26px;
}

