.process {
  margin-top: 30px;
}

.process-container {
  border: 1px solid var(--shadow-color);
}

.process-title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.process-title {
  display: block;
  margin-top: 29px;
  margin-bottom: 29px;
  margin-left: 10%;
  align-items: flex-end;
}

.process-video_container {
  position: relative;
}

.process-video {
  display: block;
  width: 100%;
  height: auto;
}

.process-control {
  position: absolute;
  display: block;
  top: 24%;
  left: 30%;
  width: 39%;
  height: 52%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: url("../../assets/img/icon-play.svg") center center no-repeat;
  background-size: contain;
}

.process-decryption {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.process-icon {
  display: block;
  width: 132px;
  height: 32px;
  fill: var(--main_color);
}

.process-decryption_container {
  margin-right: 34px;
  margin-left: 34px;
  margin-top: 34px;
}

.process-order {
  margin-top: 29px;
  margin-bottom: 33px;
}