.reviews {
  padding: 32px 30px 50px 30px;
  position: relative;
  background: url("../../assets/img/bg-zigzag-line.svg") bottom repeat-x;
  background-size: auto 1%;
  max-width: 365px;
  margin-left: auto;
  margin-right: auto;
  @media (--middle-viewport) {
    background-size: auto 2.5%;
    padding: 0 0 85px 0;
    max-width: none;
  }
  @media (--big-viewport) {
    background-size: auto 23px;
    padding-left: 100px;
    max-width: 1440px;
  }
}

.reviews-title {
  font-size: 25px;
  line-height: 30px;
  @mixin visually-title;
  @media (--middle-viewport) {
    margin: 14px 0;
    position: absolute;
    top: 86px;
    left: 50px;
  }
  @media (--big-viewport) {
    position: absolute;
    top: 86px;
    left: 275px;
  }
}

.reviews-item {
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  min-width: 260px;
  max-width: 365px;
  flex-shrink: 0;
  @media (--middle-viewport) {
    min-width: 668px;
    max-width: none;
    width: 100%;
    padding-bottom: 53px;
    padding-right: 50px;
    padding-left: 50px;
    background: url("../../assets/img/review@1x.jpg") left top no-repeat;
  }
  @media (--big-viewport) {
    padding-left: 175px;
    padding-right: 100px;
  }
}

.reviews-content {
  margin-top: 25px;
  @media (--middle-viewport) {
    margin-top: 184px;
  }
}

.reviews-author {
  display: inline-block;
  margin-top: 40px;
  width: 100%;
}

.reviews-mail {
  font-weight: 400;
  text-decoration: none;
  color: var(--second_color);
}

.reviews-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.reviews-button_container {
  display: flex;
  min-width: 260px;
  max-width: 292px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  @media (--middle-viewport) {
    max-width: none;
    min-width: 160px;
    position: absolute;
    bottom: 142px;
    right: 62px;
  }
  @media (--big-viewport) {
    right: 108px;
  }
}

.reviews-button{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 52px;
  border: 1px solid var(--shadow-color);
  background-color: #ffffff;
  flex: 1 0 130px;
  @media (--middle-viewport) {
    border: none;
    max-width: 80px;
  }
}

.reviews-add_button {
  margin-top: 38px;
  @media (--middle-viewport) {
    margin-top: 0;
    position: absolute;
    top: 86px;
    right: 50px;
  }
  @media (--big-viewport) {
    right: 100px;
  }
}