@custom-media --mobileS-viewport (width >= 320px);
@custom-media --mobileM-viewport (width >= 375px);
@custom-media --mobileOnly-viewport (320px <= width < 768px);
@custom-media --middle-viewport (width >= 768px);
@custom-media --big-viewport (width >= 1150px);
:root {
  --bg_main_color: hsl(168, 54%, 60%);
  --bg_second_color: hsl(171, 48%, 55%);
  --main_color: hsl(168, 54%, 60%);
  --second_color: hsl(0, 0%, 27%);
  --orientation_icon_color: #149080;
  --shadow-color: #ececec;
  --bg_footer_color: hsl(0, 0%, 95%);
  --bg_orientation_color: hsl(0, 0%, 98%);
}