@custom-media --mobileM-viewport (width >= 375px);
@custom-media --mobileOnly-viewport (width < 768px);
@custom-media --middle-viewport (width >= 768px);
@custom-media --big-viewport (width >= 1150px);
:root {
  --bg_main_color: hsl(168, 54%, 60%);
  --bg_second_color: hsl(171, 48%, 55%);
  --bg_footer_color: hsl(0, 0%, 95%);
  --bg_title_color: hsl(0, 0%, 95%);
  --bg_orientation_color: hsl(0, 0%, 98%);
  --main_color: hsl(168, 54%, 60%);
  --second_color: hsl(0, 0%, 27%);
  --checkbox_radio_color: hsl(0, 0%, 27%);
  --orientation_icon_color: #149080;
  --shadow-color: #ececec;
  --placeholder_color: hsl(0, 0%, 80%);
}